@{
    ViewData["Title"] = "Home Page";
}

<div id='app-root'>Loading...</div>

<div id='diagram'>
    diagram goes here
</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
